.customCategory_main {
  color: var(--white-color);
  font-size: 0.875rem;
  font-weight: 400;
  background: #303030;
  padding: 0.5rem 0.65rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
}
